@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
}

body {
  background-color: #eee;
}

p {
  font-weight: 400;
}

* {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a, footer, div {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p span, ul span, li span, a span, footer span, div span {
  font-size: inherit;
}

form, input, select, label {
  font-size: 1.6rem;
}

.top-bar {
  background-color: #282373;
  color: #fff;
  padding: 1rem 0;
}

.top-bar ul {
  margin-bottom: 0;
}

.custom-nav {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .custom-nav {
    height: 80px;
  }
}

.bigMenu {
  background-color: #282373;
  margin-left: 1rem;
  width: 34px;
  position: relative;
  height: 34px;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 3rem;
  border: 0px;
  cursor: pointer;
  border-radius: 50px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 10;
}

.bigMenu::before {
  content: '+';
  display: block;
  margin-top: -9px;
  margin-left: 6px;
}

.bigMenu.active {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
  background-color: #b80404;
}

.overlay {
  width: 34px;
  position: absolute;
  top: 0;
  z-index: -3;
  overflow: hidden;
  display: block;
  height: 34px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.95);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.overlay.active {
  -webkit-transform: scale(30, 30);
          transform: scale(30, 30);
  overflow: hidden;
}

.bar-lt-bl:after {
  height: 5px;
  width: 100px;
  content: '';
  background-color: #282373;
  margin: 1rem 0;
  display: block;
}

.long-footer {
  background-color: #20232e !important;
  color: #fff;
  font-weight: 300;
  padding: 6rem 0;
}

.foot-logo {
  margin-bottom: 2rem;
}

.copy-right {
  background-color: #1b1d26 !important;
  color: #fff;
  padding: 1rem 0;
}

.copy-right ul {
  margin-bottom: 0;
}

.copy-right ul li {
  margin: 0 2rem 0 0;
}

.copy-right .list-inline-item:not(:last-child) {
  margin-right: 1.5rem;
}

.useful-links {
  margin-top: 1.8rem;
}

.menulist li {
  font-size: 1.6rem;
  margin: 1rem 0rem;
}

.social-follow {
  margin: 2rem 0 0 0;
  padding: 0;
}

.social-follow li {
  display: inline-block;
  font-size: 1.8rem;
  color: #fff;
  margin: 0rem 0rem;
  margin-right: 1rem;
  padding: 0;
}

.social-follow li a {
  background-color: #282373;
  width: 4rem;
  height: 4rem;
  padding: 0.7rem 0.7rem;
  border-radius: 10rem;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.social-follow li a:hover {
  text-decoration: none;
}

.social-follow li i {
  font-size: 2.8rem;
}

.article-box {
  margin: 0.7rem 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-box .article-details {
  margin-left: 1.8rem;
}

.timings-border {
  margin-top: 2rem;
}

.timings-border li {
  margin: 1rem 0;
  border-bottom: 1px solid #1b1d26;
  padding: 0.5rem 0;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #b80404;
}

.accordion a:hover::after {
  border: 1px solid #b80404;
}

.accordion a.active {
  color: #b80404;
  border-bottom: 1px solid #b80404;
}

.accordion a::after {
  font-family: 'Ionicons';
  content: '\F218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1.4rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\F209';
  color: #b80404;
  border: 1px solid #b80404;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1.6rem;
  font-weight: 400;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.cl-bl {
  color: #282373;
}

.cl-rd {
  color: #b80404;
}

.bar-ct-bl:after {
  height: 5px;
  width: 100px;
  content: '';
  background-color: #282373;
  margin: 1rem auto;
  display: block;
}

.w7 {
  font-weight: 700;
}

.sp {
  height: 100px;
}

.course-block {
  border: 1px solid #ddd;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.1);
          box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.1);
}

.course-block .course-img {
  max-height: 25rem;
  width: 100%;
  height: auto;
}

.course-block .course-others {
  padding: 0 2rem;
  padding-top: 1.4rem;
}

.course-block .course-others h2 {
  font-weight: 700;
  color: #282373;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 0.4rem 0rem;
}

.course-block .course-details {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.course-block .course-details i {
  font-size: 1.8rem;
  color: #b80404;
}

.course-block .course-details .course-*:hover {
  background-color: #282373;
  color: #fff;
}

.filter-cats {
  color: #333;
  margin: 1.5rem 0;
}

.filter-cats .active a {
  color: #b80404;
}

.filter-cats li {
  margin-right: 0 !important;
  text-transform: uppercase;
}

.filter-cats li a {
  color: inherit;
  display: inline;
  padding: 1rem 1rem;
}

.filter-cats li a:hover {
  text-decoration: none;
  background-color: #282373;
  color: #fff;
}

.slider {
  background: url("../img/slider.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
}

.service-block {
  margin-top: -5rem;
  border-bottom: 5px solid #b80404;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
          box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
  padding: 3rem 1rem;
}

.service-block .service-img {
  margin: 2rem 0;
}

.course-previews {
  margin: 3rem 0;
  background-color: #fff;
  padding: 7rem 0;
}

.course-details-banner {
  padding: 3rem 0;
  background-color: #0a081f;
  color: #fff;
  border-bottom: 3px solid #b80404;
  margin-bottom: 3rem;
}

.course-details-title {
  font-size: 3rem;
  font-weight: 700;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

.course-details-title:hover {
  color: yellow;
}

.course-details-fee {
  margin: 1rem 0rem;
  font-size: 3rem;
  font-weight: 700;
  display: block;
}

.course-details-btn-register-online {
  background-color: #282373;
  color: #fff;
  font-weight: 700;
  padding: 1rem 3rem;
  text-transform: uppercase;
  width: 100%;
  border: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.course-details-btn-register-online:hover {
  background-color: #b80404;
  cursor: pointer;
}

.course-details-long-panel {
  background-color: #fff;
  padding: 3rem 3rem;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #282373;
}

.course-details-vid {
  margin: -3rem -3rem 0 -3rem;
  padding: 0.5rem 0.5rem;
}

.course-details-long-description {
  margin-bottom: 3rem;
}

.course-details-features .nav-tabs {
  margin-bottom: 1rem;
}

.course-details-features .nav-tabs a {
  color: inherit;
  text-decoration: none;
}

.course-details-features .nav-tabs a:hover {
  text-decoration: none;
  border: 1px solid #dee2e6;
  border-bottom: 1px solid #b80404;
  color: #b80404;
}

.course-details-features .nav-tabs .nav-link.active {
  background-color: transparent;
  color: #b80404;
}

.course-details .card-header {
  background-color: #b80404;
}

.course-details .card-header a {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.course-details .card-body {
  padding: 0;
}

.course-details-curriculum {
  margin-bottom: 0;
}

.course-details-curriculum li {
  padding: 0.8rem 1.6rem;
}

.course-details-curriculum li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.course-details .card {
  margin-bottom: 0.2rem;
}

.course-features-tab-titles {
  margin: 1.3rem 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.course-features-tab-titles:hover {
  color: #b80404;
}
